/* Обнуляем стандартные отступы браузера, чтобы сайт не сжимался по бокам */
html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh;
  background-color: #070a13;
  overflow-x: hidden;
}

:root {
  --text: #9ca3af;
  --text-h: #fff;
  --bg: #070a13;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}